<footer class="page-footer light-green darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mariachis de Guatemala</h5>
          <p class="grey-text text-lighten-4">Una pagina hecha por Dog Guatemala. Todos los servicios prestados son 
            responsabilidad de los mariachis. Esta bagina solo funciona como una forma de contacto. Al usarla usted
            acepta que el trato es con el artista y no con la web.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Otras web que pueden gustarle...</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://adiosagorafobia.blogspot.com/">Diario de un Agorafobico</a></li>
            <li><a class="grey-text text-lighten-3" href="https://heroesdelsilenciooficial.blogspot.com/">Web dedicada a Heroes del Silencio</a></li>
            <li><a class="grey-text text-lighten-3" href="https://laposadadelosmuertos.vercel.app/">La posada de los muertos Podcast</a></li>
            <li><a class="grey-text text-lighten-3" href="https://samuelcastillogt.github.io/">Desarrollo web en Guatemala</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Derechos reservados Dog Guatemala.
     
      </div>
    </div>
  </footer>